@{
    ViewData["Title"] = "Home Page";
}

<div id="mycarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/AI.png" alt="asp.net" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    learn how to build asp.net apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=525028&clcid=0x409">
                        learn more
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/cloud_computing.png" alt="visual studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    there are powerful new features in visual studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=525030&clcid=0x409">
                        learn more
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/full_stack_developer.png" alt="microsoft azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    learn how microsoft's azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=525027&clcid=0x409">
                        learn more
                    </a>
                </p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">previous</span>
    </a>

    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">next</span>
    </a>
</div>

@*<div class="row">
    <div class="col-md-3">
        <h2>application uses</h2>
        <ul>
            <li>sample pages using asp.net core mvc</li>
            <li>theming using <a href="https://go.microsoft.com/fwlink/?linkid=398939">bootstrap</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>how to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=398600">add a controller and view</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=699315">manage user secrets using secret manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=699316">use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=699317">add packages using nuget.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=699319">target development, staging or production environment.</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=518008">conceptual overview of what is asp.net core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=699320">fundamentals of asp.net core such as startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=398602">working with data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=398603">security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=699321">client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=699322">develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=699323">read more on the documentation site</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>run &amp; deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=517851">run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=517853">run tools such as ef migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=398609">publish to microsoft azure web apps</a></li>
        </ul>
    </div>
</div>*@
